@font-face {
    font-family: 'swiper-icons';
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
    font-weight: 400;
    font-style: normal
}

:root {
    --swiper-theme-color: #007aff
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,.swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-multirow-column>.swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-container-pointer-events {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-container-pointer-events.swiper-container-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    -o-transition-property: transform, height;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    perspective: 1200px
}

.swiper-container-3d .swiper-wrapper,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-cube-shadow {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
    background-image: -o-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0))
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0))
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0))
}

.swiper-container-css-mode>.swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none
}

.swiper-container-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
}

.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory
}

.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory
}

:root {
    --swiper-navigation-size: 44px
}

.swiper-button-prev,.swiper-button-next {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color))
}

.swiper-button-prev.swiper-button-disabled,.swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev:after,.swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1
}

.swiper-button-prev,.swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto
}

.swiper-button-prev:after,.swiper-container-rtl .swiper-button-next:after {
    content: 'prev'
}

.swiper-button-next,.swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto
}

.swiper-button-next:after,.swiper-container-rtl .swiper-button-prev:after {
    content: 'next'
}

.swiper-button-prev.swiper-button-white,.swiper-button-next.swiper-button-white {
    --swiper-navigation-color: #ffffff
}

.swiper-button-prev.swiper-button-black,.swiper-button-next.swiper-button-black {
    --swiper-navigation-color: #000000
}

.swiper-button-lock {
    display: none
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms opacity;
    -o-transition: 300ms opacity;
    transition: 300ms opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-pagination-fraction,.swiper-pagination-custom,.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33);
    position: relative
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    -webkit-transform: scale(0.66);
    -ms-transform: scale(0.66);
    transform: scale(0.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    -webkit-transform: scale(0.66);
    -ms-transform: scale(0.66);
    transform: scale(0.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33)
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: 0.2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-pagination-color, var(--swiper-theme-color))
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0);
    transform: translate3d(0px, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 6px 0;
    display: block
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    -webkit-transition: 200ms top, 200ms -webkit-transform;
    transition: 200ms top, 200ms -webkit-transform;
    -o-transition: 200ms transform, 200ms top;
    transition: 200ms transform, 200ms top;
    transition: 200ms transform, 200ms top, 200ms -webkit-transform
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transition: 200ms left, 200ms -webkit-transform;
    transition: 200ms left, 200ms -webkit-transform;
    -o-transition: 200ms transform, 200ms left;
    transition: 200ms transform, 200ms left;
    transition: 200ms transform, 200ms left, 200ms -webkit-transform
}

.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transition: 200ms right, 200ms -webkit-transform;
    transition: 200ms right, 200ms -webkit-transform;
    -o-transition: 200ms transform, 200ms right;
    transition: 200ms transform, 200ms right;
    transition: 200ms transform, 200ms right, 200ms -webkit-transform
}

.swiper-pagination-progressbar {
    background: rgba(0,0,0,0.25);
    position: absolute
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-vertical>.swiper-pagination-progressbar,.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-white {
    --swiper-pagination-color: #ffffff
}

.swiper-pagination-black {
    --swiper-pagination-color: #000000
}

.swiper-pagination-lock {
    display: none
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0,0,0,0.1)
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-scrollbar-lock {
    display: none
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

.swiper-zoom-container>img,.swiper-zoom-container>svg,.swiper-zoom-container>canvas {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.swiper-slide-zoomed {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s infinite linear;
    animation: swiper-preloader-spin 1s infinite linear;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
    border-radius: 50%;
    border-top-color: transparent
}

.swiper-lazy-preloader-white {
    --swiper-preloader-color: #fff
}

.swiper-lazy-preloader-black {
    --swiper-preloader-color: #000
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube {
    overflow: visible
}

.swiper-container-cube .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}

.swiper-container-cube .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-prev,.swiper-container-cube .swiper-slide-next+.swiper-slide {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-slide-shadow-top,.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 0
}

.swiper-container-cube .swiper-cube-shadow:before {
    content: '';
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-filter: blur(50px);
    filter: blur(50px)
}

.swiper-container-flip {
    overflow: visible
}

.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-flip .swiper-slide-shadow-top,.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.icon-facebook::before {
    content: "\EA01"
}

.icon-replies::before {
    content: "\EA02"
}

.icon-eye::before {
    content: "\EA03"
}

.icon-arrow-left::before,.m-blog-carousel .swiper-button-prev:after,.m-blog-carousel .swiper-button-next:after {
    content: "\EA04"
}

.icon-hamburger::before {
    content: "\EA05"
}

.icon-turkcell-logo-2::before {
    content: "\EA06"
}

.icon-delete::before {
    content: "\EA07"
}

.icon-error::before {
    content: "\EA08"
}

.icon-attachment::before {
    content: "\EA09"
}

.icon-filter::before {
    content: "\EA10"
}

.icon-sort-desc::before {
    content: "\EA11"
}

.icon-check-round::before {
    content: "\EA12"
}

.icon-check::before {
    content: "\EA13"
}

.icon-star-filled-v2::before {
    content: "\EA14"
}

.icon-close::before {
    content: "\EA18"
}

.icon-add-round::before {
    content: "\EA1B"
}

.icon-faq::before {
    content: "\EA25"
}

.icon-instagram::before {
    content: "\EA2E"
}

.icon-microphone::before {
    content: "\EA3A"
}

.icon-like::before {
    content: "\EA3E"
}

.icon-eye-closed::before {
    content: "\EA41"
}

.icon-hizli-giris::before {
    content: "\EA48"
}

.icon-resize-radius::before {
    content: "\EA49"
}

.icon-settings::before {
    content: "\EA4A"
}

.icon-linkedin::before {
    content: "\EA4E"
}

.icon-search::before {
    content: "\EA50"
}

.icon-question::before {
    content: "\EA51"
}

.icon-reply-line::before {
    content: "\EA52"
}

.icon-comment::before {
    content: "\EA53"
}

.icon-upload-file::before {
    content: "\EA56"
}

.icon-attach::before {
    content: "\EA57"
}

.icon-embed::before {
    content: "\EA58"
}

.icon-quote::before {
    content: "\EA59"
}

.icon-mail::before {
    content: "\EA5E"
}

.icon-turkcell-logo::before {
    content: "\EA60"
}

.icon-twitter::before {
    content: "\EA61"
}

.icon-bold::before {
    content: "\EA62"
}

.icon-italic::before {
    content: "\EA63"
}

.icon-underline::before {
    content: "\EA64"
}

.icon-bullets::before {
    content: "\EA65"
}

.icon-link::before {
    content: "\EA66"
}

.icon-unlink::before {
    content: "\EA67"
}

.icon-addimage::before {
    content: "\EA68"
}

.icon-youtube::before {
    content: "\EA69"
}

.icon-telephone::before {
    content: "\EA6E"
}

.icon-certificate::before {
    content: "\EA70"
}

.icon-play::before {
    content: "\EA71"
}

.icon-clock::before {
    content: "\EA72"
}

.icon-level::before {
    content: "\EA73"
}

.icon-user::before {
    content: "\EA74"
}

.icon-google-plus::before {
    content: "\EA75"
}

.icon-github::before {
    content: "\EA76"
}

.icon-quick-login::before {
    content: "\EA77"
}

.icon-return::before {
    content: "\EA78"
}

.icon-calendar::before {
    content: "\EA79"
}

.icon-close-round::before {
    content: "\EA7E"
}

.icon-arrow-active::before {
    content: "\EA80"
}

.icon-exam::before {
    content: "\EA81"
}

.icon-badge::before {
    content: "\EA82"
}

.icon-notes::before {
    content: "\EA83"
}

.icon-bookmark-filled::before {
    content: "\EA84"
}

.icon-bookmark::before {
    content: "\EA85"
}

.icon-copy::before {
    content: "\EA86"
}

.icon-resize::before {
    content: "\EA87"
}

.icon-lock::before {
    content: "\EA88"
}

.icon-unlocked::before {
    content: "\EA89"
}

.icon-info::before {
    content: "\EA8E"
}

.icon-minus::before {
    content: "\EA90"
}

.icon-plus::before {
    content: "\EA91"
}

.icon-edit::before {
    content: "\EA92"
}

.icon-reply::before {
    content: "\EA93"
}

.icon-sort::before {
    content: "\EA94"
}

.icon-share::before {
    content: "\EA95"
}

.icon-star::before {
    content: "\EA96"
}

.icon-star-filled::before {
    content: "\EA97"
}

.icon-arrow-down-curved::before {
    content: "\EA98"
}

.icon-sort-asc::before {
    content: "\EA99"
}

.icon-target::before {
    content: "\EA9E"
}

.swiper-container-fixed-height .swiper-container {
    height: 440px
}

.m-carousel {
    margin-bottom: 40px
}

@media screen and (max-width: 1023px) {
    .m-carousel {
        margin-bottom:40px
    }
}

.m-carousel .swiper-container {
    width: 100%
}

.m-carousel .swiper-slide {
    border-radius: 40px;
    width: 100%;
    height: 100%
}

.m-carousel .swiper-pagination {
    bottom: 80px;
    padding: 0 100px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media screen and (max-width: 1023px) {
    .m-carousel .swiper-pagination {
        bottom:36px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 24px
    }
}

.m-carousel .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: rgba(255,255,255,0.4)
}

.m-carousel .swiper-pagination .swiper-pagination-bullet-active {
    width: 16px;
    height: 16px;
    background-color: #fff
}

.m-event-slider {
    width: auto
}

.m-event-slider .swiper-container {
    width: auto;
    height: auto;
    border-radius: 0;
    overflow: visible
}

.m-event-slider .swiper-container:hover .swiper-button-prev,.m-event-slider .swiper-container:hover .swiper-button-next {
    display: block
}

@media screen and (max-width: 767px) {
    .m-event-slider .swiper-container .swiper-button-prev,.m-event-slider .swiper-container .swiper-button-next {
        display:none
    }

    .m-event-slider .swiper-container:hover .swiper-button-prev,.m-event-slider .swiper-container:hover .swiper-button-next {
        display: none
    }
}

.m-event-slider .swiper-slide {
    width: 480px !important
}

@media screen and (max-width: 767px) {
    .m-event-slider .swiper-slide {
        width:300px !important
    }
}

.m-event-slider .swiper-button-prev {
    background-image: url("/themes/custom/gyz/img/content/arrow-large.png");
    background-size: 24px 24px;
    left: -20px
}

@media screen and (max-width: 1240px) {
    .m-event-slider .swiper-button-prev {
        left:0
    }
}

.m-event-slider .swiper-button-next {
    background-image: url("/themes/custom/gyz/img/content/arrow-large.png");
    background-size: 24px 24px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    right: -15px
}

@media screen and (max-width: 1240px) {
    .m-event-slider .swiper-button-next {
        right:0
    }
}

.m-event-slider .swiper-button-prev,.m-event-slider .swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: #f7f9fa;
    border-radius: 50%;
    display: none
}

.m-event-slider .swiper-button-disabled {
    opacity: 1;
    cursor: pointer;
    pointer-events: initial
}

.m-blog-slider .swiper-container {
    height: 430px;
    padding-bottom: 40px
}

.m-blog-slider .swiper-slide {
    width: 380px !important
}

@media screen and (max-width: 767px) {
    .m-blog-slider .swiper-slide {
        width:300px !important
    }
}

.m-blog-slider .swiper-button-prev {
    background-image: url("/themes/custom/gyz/img/content/arrow-large.png");
    background-size: 24px 24px;
    left: 6px;
    display: block
}

.m-blog-slider .swiper-button-next {
    background-image: url("/themes/custom/gyz/img/content/arrow-large.png");
    background-size: 24px 24px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 6px;
    display: block
}

.m-blog-slider .swiper-button-prev,.m-blog-slider .swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: #f7f9fa;
    border-radius: 50%;
    display: none
}

.m-blog-slider .swiper-pagination {
    bottom: 0;
    padding: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.m-blog-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: #dee3ed;
    margin: 0 5px
}

.m-blog-slider .swiper-pagination .swiper-pagination-bullet-active {
    width: 16px;
    height: 16px;
    background-color: #ffc900
}

.m-blog-slider .swiper-button-disabled {
    opacity: 1;
    cursor: pointer;
    pointer-events: initial
}

.m-mobile-slider {
    width: 100%;
    margin-bottom: 0;
    position: relative
}

.m-mobile-slider .swiper-wrapper {
    width: auto
}

.m-mobile-slider .swiper-container {
    width: auto;
    height: auto;
    border-radius: 0;
    overflow: visible
}

.m-mobile-slider .swiper-slide {
    border-radius: 0
}

.m-mobile-slider .swiper-pagination {
    display: none !important;
    bottom: 10px;
    padding: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

.m-mobile-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: #dee3ed;
    margin: 0 5px
}

.m-mobile-slider .swiper-pagination .swiper-pagination-bullet-active {
    width: 16px;
    height: 16px;
    background-color: #ffc900
}

.m-mobile-slider.activated .m-grid {
    display: block;
    margin: 0
}

.m-mobile-slider.activated .m-grid .m-grid-col-4 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: none
}

.m-mobile-slider.activated .m-grid [class*="m-grid-col-"] {
    padding: 0
}

@media screen and (max-width: 767px) {
    .m-mobile-slider.activated .swiper-pagination {
        display:block !important
    }
}

@media screen and (max-width: 767px) {
    .m-mobile-slider.activated[data-pagination=true] {
        padding-bottom:44px
    }
}

.m-popular-slider.activated .swiper-container {
    height: 380px
}

.m-popular-slider.activated .swiper-slide {
    width: 380px !important
}

@media screen and (max-width: 767px) {
    .m-popular-slider.activated .swiper-slide {
        width:300px !important
    }
}

.m-explore-slider.activated .swiper-container {
    height: 407px
}

.m-explore-slider.activated .swiper-slide {
    width: 380px !important
}

@media screen and (max-width: 767px) {
    .m-explore-slider.activated .swiper-slide {
        width:300px !important
    }
}

.m-training-slider.activated .swiper-container {
    height: auto
}

.m-training-slider.activated .swiper-slide {
    width: 240px !important
}

.m-programs-slider.activated .swiper-container {
    height: auto
}

.m-success-slider.activated .swiper-container {
    height: auto
}

@media screen and (max-width: 1024px) {
    .m-success-slider.activated .swiper-slide {
        width:100% !important
    }
}

.m-hero-carousel {
    width: 100%
}

@media screen and (max-width: 1279px) {
    .m-hero-carousel {
        padding-top:24px
    }
}

.m-hero-carousel .lottie-item {
    position: absolute;
    top: 0;
    right: -30px;
    z-index: 2
}

@media screen and (max-width: 1023px) {
    .m-hero-carousel .lottie-item {
        right:auto;
        width: 100%;
        height: 320px;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .m-hero-carousel .lottie-item svg {
        max-width: 100%;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: auto !important
    }
}

.m-hero-carousel .swiper-container {
    display: block
}

.m-hero-carousel .swiper-slide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.m-hero-carousel__item {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px
}

@media screen and (max-width: 1023px) {
    .m-hero-carousel__item {
        padding:0
    }
}

.m-hero-carousel__item__inner {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    background-image: -o-linear-gradient(38deg, #276aea, #1a297f);
    background-image: linear-gradient(52deg, #276aea, #1a297f);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 100px 110px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    background-size: cover
}

@media screen and (max-width: 1023px) {
    .m-hero-carousel__item__inner {
        border-radius:30px;
        padding-bottom: 80px;
        padding-left: 24px;
        padding-right: 24px;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        overflow: hidden
    }
}

.m-hero-carousel__item__inner--patterned:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    background: url("/themes/custom/gyz/img/content/carousel-pattern.svg") no-repeat;
    border-bottom-right-radius: 40px
}

@media screen and (max-width: 1023px) {
    .m-hero-carousel__item__inner--patterned:after {
        width:180px;
        height: 280px;
        bottom: auto;
        top: -100px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 40px;
        background-position: left bottom;
        background-size: cover;
        right: 0
    }
}

.m-hero-carousel__item__inner__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.m-hero-carousel__item__inner .a-btn {
    margin-bottom: 20px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.m-hero-carousel__item h2 {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
    max-width: 700px;
    position: relative;
    z-index: 3
}

@media screen and (max-width: 1023px) {
    .m-hero-carousel__item h2 {
        font-size:22px;
        max-width: 100%;
        text-align: center;
        width: 100%;
        margin-bottom: 16px
    }
}

.m-hero-carousel__item p {
    font-size: 24px;
    color: #fff;
    line-height: 1.2em;
    max-width: 700px;
    margin-bottom: 40px;
    position: relative;
    z-index: 3
}

@media screen and (max-width: 1023px) {
    .m-hero-carousel__item p {
        font-size:18px;
        max-width: 100%;
        text-align: center;
        width: 100%;
        margin-bottom: 32px
    }
}

.m-hero-carousel__item .a-btn {
    min-width: 220px;
    font-weight: bold;
    position: relative;
    z-index: 3
}

@media screen and (max-width: 1023px) {
    .m-hero-carousel__item .a-btn {
        min-width:160px;
        -ms-flex-item-align: center;
        align-self: center;
        height: 50px;
        line-height: 50px
    }
}

.m-blog-carousel__item {
    margin: 0 auto;
    padding: 10px
}

.m-blog-carousel .swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: #f7f9fa;
    border-radius: 50%;
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.m-blog-carousel .swiper-button-prev:after {
    font-family: 'IconFont';
    color: #2855ac;
    font-size: 24px
}

.m-blog-carousel .swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: #f7f9fa;
    border-radius: 50%;
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.m-blog-carousel .swiper-button-next:after {
    font-family: 'IconFont';
    color: #2855ac;
    font-size: 24px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.m-filter-carousel {
    margin-bottom: 0
}

.m-filter-carousel .swiper-container {
    margin-left: -5px;
    overflow: visible
}

.m-filter-carousel .swiper-slide {
    width: auto
}

.m-filter-carousel .swiper-slide.active .a-tag {
    background-color: #2855ac;
    color: #fff
}

.m-filter-carousel__item {
    padding: 5px
}
